node_modules
.next
out
.git
.github
.vscode
.idea
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env*.local
.vercel
coverage
tasks
Dockerfile
.dockerignore
docker-compose.yml
README.md
